# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

# Editor files
.clang-format
.vscode/

# Output files
*.dot
*.ps
*.png

# Coco and other tests
Coco/
Aritmetica/
Double/
MyCOCOR/

# COCOL files, except for the main one
*.ATG
!Coco.atg

# Old Versions
*.old
